@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Source Serif Pro', serif;*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    margin-top: 38px;
    background: #7FC8F8;
    padding: 14px 16px;
    color: white;
    font-weight: 300;
    text-align: center;
    margin-top: 55px;
}

h3 {
    text-align: center;
    margin: auto;
}

p{
    text-indent: 50px;
    padding: 15px 15px 15px 15px;
    font-family: 'Source Serif Pro', serif;
}

main {
    background-color: #D1CBCD;
}

article {
    /* margin: 50px 0 50px 0; */
}

article img {
    /* float: right;
    border-radius: 100%;
    max-width: 100%;
    height: auto;
    width: auto\9;*/
} 

.content-one {
    width: 50%;
    margin: auto;
    /* border: 2px solid #21130d; */
    padding: 10px 10px 10px 10px;
    background-color: #F9F9F9;
}

.content-one h2,
.content-two h2 {
    margin-top: 0;
}

.content-two {
    margin: auto;
    padding: 10px 10px 10px 10px;
    background-color: #F9F9F9;
    margin: 0 0 100px 0;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.content-two img {
    float: right;
    border-radius: 100%;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.content-two,
.types-of-hikes {
    font-size: 18px;
}

.hero-video {
    width: 1000px;
    height: 500px;
    display: block;
    margin: auto;
    padding: 10px 10px 10px 10px
    
}

/* === Types of Hikes Sidebar Styles === */

.types-of-hikes {
    /* float: left;    */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
}

.types-of-hikes h2 {
    margin: 0 0 0 0;
    background-color: #5AA9E6;
}

.types-of-hikes p {
    background-color: #F9F9F9;
    margin: 0 0 20px 0;
}

.types-of-hikes img {
    width: auto;
    height: 300px;
    float: left;
}

#left-column,
#right-column {
    width: 50%;
}

/* === End Types of Hikes Sidebar Styles === */

/* === Form Styles === */



/* === End of Form Styles */

/* === Navigation Bar Styles === */

.navbar {
    /* border: 1px solid red; */
    /* position: fixed; */
    background-color: #7FC8F8;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar ul {
    height: 50px;
    list-style-type: none;
    margin-top: 0;
    /* margin-left: -40px; */
    padding: 0 0 0 30px;
}

.navbar li {
    /* border: 1px solid blue; */
    display: inline-block;
    font-size: 18px;
    float: left;
    text-align: center;
    border-right: 1px solid #F9F9F9;
}

.navbar li:last-child,
.navbar li:first-child {
    border-right: 0;
}

.navbar a:first-child {
    /* padding-top: 0; */
}

.navbar a {
    /* border: 1px solid red; */
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    height: 50px;
    background-color: #7FC8F8;
    color: #F9F9F9;
}

.navbar a:hover {
    background-color: #d3e9f8;
    color: black;
}

.logo-img {
    width: 100px;
    height: 100px;
    margin-top: 0;
    padding: 0;
}

#logo-link {
    background: none;
}

#logo-link a:hover {
    background: none;
    
}

/* === End Navigation Bar Styles */


/* Photo Carousel Styles */

.carousel img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
}


/* End of Photo Carousel Styles */

/* Footer Styles */

footer {
    background-color: #3a4443;
}

footer ul {
    display: block;
    /* background: #D1CBCD; */
    padding: 20px 10px 20px 10px;
    width: auto;
    margin: 0 0 0 0;
    text-align: center;
}

footer li {
    font-size: 14px;
    display: inline-block;
    /* float: center; */
    padding: 0 10px 0 10px;
    font-weight: bold;
    color: #eef2f3;
}

.fa-brands {
    /* padding: 10px 10px 10px 10px; */
    font-size: 100px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

.fa-facebook,
.fa-instagram {
    /* background-color: #F9F9F9; */
    color: #eef2f3;
}

/* End of Footer Styles */






/* === Color Palette ===
5AA9E6 7FC8F8 F9F9F9 FFE45E D1CBCD 21130d*/

/* === Secondary Color Palette ===
#d9dde5 #5d7f90 #2a333a #9fb3c2 #afc2d4 #88acbe #b3ccda #3a4443 #eef2f3*/