@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    margin: 0 0 0 0;
    background: #5AA9E6;
    border-top: solid #F9F9F9 0.1rem;
    padding: 14px 16px;
    color: #F9F9F9;
    font-weight: 300;
    text-align: center;
}

h3 {
    text-align: center;
    margin: auto;
}

p{
    text-indent: 50px;
    padding: 15px 15px 15px 15px;
    font-family: 'Source Serif Pro', serif;
}

main {
    background-image: linear-gradient(#F9F9F9, #5AA9E6);
}

.bg-none {
    background-image: none;
}

.content-one {
    width: 50%;
    margin: auto;
    padding: 10px 10px 10px 10px;
    background-color: #F9F9F9;
}

.content-one h2,
.content-two h2 {
    margin-top: 0;
}

.content-two {
    padding: 1px 20px 10px 0px;
    background-color: #F9F9F9;
    margin: 0 0 100px 0;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.content-two img {
    float: right;
    border-radius: 100%;
    max-width: 100%;
    padding: 5px;
    height: auto;
    width: auto\9;
}

.hero-video {
    width: 75%;
    height: 500px;
    display: block;
    margin: auto;
    padding: 10px 10px 10px 10px;
    
}

.gmap {
    display: block;
    margin: auto;
    width: 100%;
}

.book-now,
.button {
    background-color: #FFE45E;
    color: #3a4443;
    border-radius: 9px;
    border-color: #3a4443;
    border: 0;
    height: 1.6em;
    width: 5em;
    font-size: 21px;
    font-family: 'Barlow Condensed', sans-serif;
}

.book-now:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.30);
}

.button:hover {
    background-color: #5AA9E6;
    color: #F9F9F9;
}

/* === Types of Hikes Sidebar Styles === */

.types-of-hikes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px 10px 10px 10px;
}

.types-of-hikes h2{
    margin: 0 0 0 0;
    background-color: #7FC8F8;
}

.types-of-hikes h3 {
    margin: 0 0 0 0;
    background-color: #D1CBCD;
}

.types-of-hikes p {
    background-color: #F9F9F9;
    margin: 0;
    padding: 1em;
}

.types-of-hikes img {
    width: auto;
    object-fit: cover;
    object-position: center;
    height: 300px;
    float: left;
}

.types-of-hikes img,
.types-of-hikes div {
    background-color: #F9F9F9;
}

#left-column,
#right-column {
    width: 50%;
    font-size: 18px;
}

.clear-both {
    clear: both;
}

/* === End Types of Hikes Sidebar Styles === */

/* === Form Styles === */

.container {
    margin: auto;
    max-width: 50%;
    padding: 20px 0 20px 0;
}

.radio-group {
    margin-bottom: 1em;
}

.radio-group h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.form-control {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #F9F9F9;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.05em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type=radio]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;

}

input[type=radio]:checked::before {
    transform: scale(1);
}

input[type=radio]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

form-control:focus-within {
    color: var(--form-control-color);
}

.form-control + .form-control {
    margin-top: 0.75em;
}

:root {
    --form-control-color: #FFE45E;
}

input[type=text],
textarea {
    width: 100%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1em;
    resize: vertical;
    overflow: scroll;
    font-family: 'Poppins', sans-serif;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 0.09em;
}

form p {
    margin: 0;
    padding: 0.09em;
    font-family: inherit;
    font-size: 0.75em;
    text-align: left;
}
/* === End of Form Styles */

/* Hero Photo Styles */

.hero-photo h1 {
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    font-style: italic;
}

.hero-photo img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
}

.top-center {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hero-Photo Styles */

/* === Navigation Bar Styles === */

.navbar {
    background-color: #7FC8F8;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar ul {
    height: 50px;
    list-style-type: none;
    margin-top: 0;
    padding: 0 0 0 30px;
}

.navbar li {
    display: inline-block;
    height: auto;
    font-size: 18px;
    float: left;
    text-align: center;
    border-right: 1px solid #F9F9F9;
}

.navbar li:last-child,
.navbar li:first-child {
    border-right: 0;
}

.navbar a:first-child {
    padding-top: .2rem;
}

.navbar a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    height: 50px;
    background-color: #7FC8F8;
    color: #F9F9F9;
}

.navbar a:hover {
    background-color: #d3e9f8;
    color: black;
}

#book-link {
    display: none;
}

.logo-img {
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    margin: 0;
}

#logo-link {
    background: none;
}

#logo-link a:hover {
    background: none;
    
}

.pull-right {
    float: right;
    position: absolute;
    top: 10px;
    right: 30px;
    margin: auto;
    padding: none;
}

/* === End Navigation Bar Styles */

/* Footer Styles */

footer {
    background-color: #3a4443;
}

footer ul {
    display: block;
    padding: 20px 10px 20px 10px;
    width: auto;
    margin: 0 0 0 0;
    text-align: center;
}

footer li {
    font-size: 14px;
    display: inline-block;
    padding: 0 10px 0 10px;
    font-weight: bold;
    color: #eef2f3;
}

.fa-brands {
    font-size: 100px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

.fa-facebook,
.fa-instagram {
    color: #eef2f3;
}

/* End of Footer Styles */

/* === Color Palette ===
5AA9E6 7FC8F8 F9F9F9 FFE45E D1CBCD 21130d*/

/* === Secondary Color Palette ===
#d9dde5 #5d7f90 #2a333a #9fb3c2 #afc2d4 #88acbe #b3ccda #3a4443 #eef2f3*/