* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #F9F9F9;
}

h1, h2 {
    margin-top: 38px;
    background: #7FC8F8;
    padding: 14px 16px;
    color: white;
    text-align: center;
    margin-top: 55px;
}

h3 {
    text-align: center;
    margin: auto;
}

p{
    text-indent: 50px;
    padding: 15px 15px 15px 15px;
}

main {
    background-color: #D1CBCD;
}

article {
    /* margin: 50px 0 50px 0; */
}

article img {
    /* float: right;
    border-radius: 100%;
    max-width: 100%;
    height: auto;
    width: auto\9;*/
} 

.content-one {
    width: 50%;
    margin: auto;
    /* border: 2px solid #21130d; */
    padding: 10px 10px 10px 10px;
    background-color: #F9F9F9;
}

.content-one h2,
.content-two h2 {
    margin-top: 0;
}

.content-two {
    margin: auto;
    padding: 10px 10px 10px 10px;
    background-color: #F9F9F9;
    margin: 0 0 50px 0;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.content-two img {
    float: right;
    border-radius: 100%;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.content-two,
.types-of-hikes {
    font-size: 18px;
}

/* === Types of Hikes Sidebar Styles === */

.types-of-hikes {
    /* float: left;    */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
}

.types-of-hikes h2 {
    margin: 0 0 0 0;
    background-color: #5AA9E6;
}

.types-of-hikes p {
    background-color: #F9F9F9;
    margin: 0 0 20px 0;
}

.types-of-hikes img {
    width: auto;
    height: 300px;
    float: left;
}

#left-column,
#right-column {
    width: 50%;
}

/* === End Types of Hikes Sidebar Styles === */

/* === Navigation Bar Styles === */

.navbar {
    /* border: 1px solid red; */
    /* position: fixed; */
    background-color: #7FC8F8;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar ul {
    height: 50px;
    list-style-type: none;
    margin-top: 0;
    /* margin-left: -40px; */
    padding: 0 0 0 30px;
}

.navbar li {
    /* border: 1px solid blue; */
    display: inline-block;
    font-size: 18px;
    float: left;
    text-align: center;
    border-right: 1px solid #F9F9F9;
}

.navbar li:last-child,
.navbar li:first-child {
    border-right: 0;
}

.navbar a:first-child {
    /* padding-top: 0; */
}

.navbar a {
    /* border: 1px solid red; */
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    height: 50px;
    font-weight: bold;
    background-color: #7FC8F8;
    color: #F9F9F9;
}

.navbar a:hover {
    background-color: #d3e9f8;
    color: black;
}

.logo-img {
    width: 100px;
    height: 100px;
    margin-top: 0;
    padding: 0;
}

#logo-link {
    background: none;
}

#logo-link a:hover {
    background: none;
    
}

/* === End Navigation Bar Styles */


/* Photo Carousel Styles */

.carousel img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
}


/* End of Photo Carousel Styles */

/* Footer Styles */

footer ul {
    display: block;
    background: #D1CBCD;
    width: auto;
    margin: 20px 0 0 0;
    text-align: center;
}

footer li {
    font-size: 14px;
    display: inline-block;
    padding: 0 10px 0 10px;
    font-weight: bold;
}


/* End of Footer Styles */






/* === Color Palette ===
5AA9E6 7FC8F8 F9F9F9 FFE45E D1CBCD 21130d*/
